@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");


/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* EDICIONES DEL HEADER *******************/
.header {
  width: 100%;
  height: 80px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  position: static;
  top: 0;
  left: 0;
  z-index: 1;
  transition: height 0.3s;
  margin-left: -1px;
}

/* Centrar título de header */
.tituloh {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* Estilos para el ícono de menú */
.icon__menu {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__menu i {
  font-size: 20px;
  cursor: pointer;
  position: relative;
}

/* EDICIONES DEL MENU LATERAL ********************/
.menu__side {
  width: 80px;
  height: 100%;
  background: #00425a;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  font-size: 18px;
  z-index: 300;
  overflow: hidden;
  overflow-y: scroll;
  border-right: 0px solid #00425a;
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform: translateX(-150px);
}

.menu__side.menu__side_move {
  transform: translateX(0px);
}

.header_move .header-content {
  transform: translateX(250px);
}

/* Estilos para el contenido del menú lateral */
.name__page {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.name__page i {
  width: 20px;
  margin-right: 20px;
}

.options__menu {
  padding: 20px 30px;
  position: absolute;
  top: 80px;
}

.options__menu a {
  color: #ffffffb2;
  cursor: default;
  display: block;
  position: relative;
  transition: color 300ms;
}

.options__menu a:hover {
  color: white;
}

.options__menu .option {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  position: relative;
}

.options__menu .option i {
  width: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.options__menu .option h4 {
  font-weight: 300;
  cursor: pointer;
}

a.selected {
  color: #fff;
}

.selected:before {
  content: "";
  width: 3px;
  height: 80%;
  background: white;
  position: absolute;
  top: 10%;
  left: -30px;
}

/* Ocultar scroll para Chrome, Safari y Opera */
.menu__side::-webkit-scrollbar {
  display: none;
}

/* Ocultar scroll para IE, Edge y Firefox */
.menu__side {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Clases para usar en JavaScript */
.body_move {
  margin-left: 250px;
}

.menu__side_move {
  width: 250px;
}

/* Media Query para resolución menor a 320px */
@media screen and (max-width: 320px) {
  .header_move .header-content {
    transform: translateX(0px);

    .menu__side {
      background: white;
    }

    .menu__side_move {
      display: none;
      /* Ocultar el menú lateral */
    }
  }
}

/* EDICIONES DEL MAIN*******************************************/

/* Aquí estableces el valor del margen para los cuatro lados */
main {
  margin: 20px;
  margin-top: 20px;
  /* Ajusta el margen superior según sea necesario */
  margin-bottom: 20px;
  /* Ajusta el margen inferior según sea necesario */
  display: flex;
  /* Aplicamos un contenedor flex */
  flex-wrap: wrap;
  /* Permite que los elementos del contenedor flex se ajusten en filas cuando hay espacio limitado */
}

/*Contenedor de flex box*/

.card {
  border-radius: 20px;
  padding: 20px;
  width: rem;
  border: 1px solid #893131;
  box-shadow: 2px 2px 6px #c30f0f;
  margin: 20px 10px;
  display: flex;
  /* Aplicamos un contenedor flex */
  align-items: center;
  /* Centramos verticalmente los elementos */
  flex: 1;
  /* Hacemos que los cards ocupen el mismo espacio disponible */
}

/* Edicion de imagene principal nena saludando*/
.imagen-1 {
  max-width: 34%;
  height: auto;
  margin-left: -33px;
  /* Ajusta el valor según sea necesario para mover la imagen hacia la derecha */
  margin-right: 20px;
  /* Ajusta el valor según sea necesario para mover la imagen hacia la izquierda */
  margin-bottom: auto;
  /* Ajusta el valor según sea necesario para crear margen con la imagen y el texto le puse auto xd */
  transition: margin-left 0.2s ease;
  /* Agrega una transición suave al movimiento de la imagen */
  margin-top: 100px;
  /* Ajusta el valor según sea necesario para mover la imagen hacia abajo */
  float: left;
}

.imagen-1 {
  margin-top: 10px;
  /* Ajusta el margen superior según sea necesario */
  max-width: 100%;
  /* Hace que la imagen sea responsive */
}

/* Edicion de imagens de los flex box*/

.my-image1 {
  width: 200px;
  /* Ajusta el tamaño según tus necesidades */
  height: auto;
  margin-right: 10px;
  /* Ajusta el margen según tus necesidades */
}

/* Estilos para la segunda imagen */
.my-image2 {
  width: 200px;
  /* Ajusta el tamaño según tus necesidades */
  height: auto;
  margin-right: 10px;
  /* Ajusta el margen según tus necesidades */
}

.text {
  flex-grow: 1;
  /* Hacemos que ocupe todo el espacio disponible en el contenedor flex */
}

/* Estilos para el contenido de texto */
.text {
  flex: 1;
  /* Hacemos que el contenido de texto ocupe todo el espacio disponible en el contenedor flex */
}

/* Estilos para la imagen */
.my-image1,
.my-image2 {
  width: 200px;
  /* Ajusta el tamaño según tus necesidades */
  height: auto;
  margin-right: 10px;
  /* Ajusta el margen derecho según tus necesidades */
}

/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* EDICIONES DEL HEADER *******************/
.header {
  width: 100%;
  height: 80px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  position: static;
  top: 0;
  left: 0;
  z-index: 1;
  transition: height 0.3s;
  margin-left: -1px;
}

/* Centrar título de header */
.tituloh {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* Estilos para el ícono de menú */
.icon__menu {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__menu i {
  font-size: 20px;
  cursor: pointer;
  position: relative;
}

/* EDICIONES DEL MENU LATERAL ********************/
.menu__side {
  width: 80px;
  height: 100%;
  background: #00425a;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  font-size: 18px;
  z-index: 300;
  overflow: hidden;
  overflow-y: scroll;
  border-right: 0px solid #00425a;
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform: translateX(-150px);
}

.menu__side.menu__side_move {
  transform: translateX(0px);
}

.header_move .header-content {
  transform: translateX(250px);
}

/* Estilos para el contenido del menú lateral */
.name__page {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.name__page i {
  width: 20px;
  margin-right: 20px;
}

.options__menu {
  padding: 20px 30px;
  position: absolute;
  top: 80px;
}

.options__menu a {
  color: #ffffffb2;
  cursor: default;
  display: block;
  position: relative;
  transition: color 300ms;
}

.options__menu a:hover {
  color: white;
}

.options__menu .option {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  position: relative;
}

.options__menu .option i {
  width: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.options__menu .option h4 {
  font-weight: 300;
  cursor: pointer;
}

a.selected {
  color: #fff;
}

.selected:before {
  content: "";
  width: 3px;
  height: 80%;
  background: white;
  position: absolute;
  top: 10%;
  left: -30px;
}

/* Ocultar scroll para Chrome, Safari y Opera */
.menu__side::-webkit-scrollbar {
  display: none;
}

/* Ocultar scroll para IE, Edge y Firefox */
.menu__side {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Clases para usar en JavaScript */
.body_move {
  margin-left: 250px;
}

.menu__side_move {
  width: 250px;
}

----------------------
/* CONTACTOS***********************************/

/*Formulario**/
/*estilo de formulario de mensajes*/

section {
  margin: 40px 80px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.contact-form label {
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #45a049;
}

.container {
  display: flex;
}

.contact-container {
  flex: 0 0 300px;
  margin-right: 20px;
  border: 1px solid #ccc;
  padding: 20px;
}

.contact-container h2 {
  margin-bottom: 10px;
  text-align: center;
}

.contact-container .contact-form {
  margin-top: 20px;
}

/* Mantiene la imagen del google maps en su lugar xd */
.map-container img {
  max-width: 100%;
  max-height: 100%;
}

.map-container {
  flex: 1;
  border: 1px solid #ccc;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 20px;
  /* Agregamos el estilo overflow para ocultar el contenido que supere el tamaño del cuadro */
}

.contact-container {
  flex: 0 0 300px;
  margin-right: 20px;
  border: 1px solid #ccc;
  padding: 20px;
}

.contact-container h2 {
  margin-bottom: 10px;
  text-align: center;
}

.contact-container .contact-form {
  margin-top: 20px;
}

/* EDICIONES DEL MAIN*******************************************/

/* Aquí estableces el valor del margen para los cuatro lados */
main {
  margin: 20px;
  margin-top: 20px;
  /* Ajusta el margen superior según sea necesario */
  margin-bottom: 20px;
  /* Ajusta el margen inferior según sea necesario */
  display: flex;
  /* Aplicamos un contenedor flex */
  flex-wrap: wrap;
  /* Permite que los elementos del contenedor flex se ajusten en filas cuando hay espacio limitado */
}

/*Contenedor de flex box*/

.card {
  border-radius: 20px;
  padding: 20px;
  width: rem;
  border: 1px solid #893131;
  box-shadow: 2px 2px 6px #c30f0f;
  margin: 20px 10px;
  display: flex;
  /* Aplicamos un contenedor flex */
  align-items: center;
  /* Centramos verticalmente los elementos */
  flex: 1;
  /* Hacemos que los cards ocupen el mismo espacio disponible */
}

/* Edicion de imagene principal nena saludando*/
.imagen-1 {
  max-width: 34%;
  height: auto;
  margin-left: -33px;
  /* Ajusta el valor según sea necesario para mover la imagen hacia la derecha */
  margin-right: 20px;
  /* Ajusta el valor según sea necesario para mover la imagen hacia la izquierda */
  margin-bottom: auto;
  /* Ajusta el valor según sea necesario para crear margen con la imagen y el texto le puse auto xd */
  transition: margin-left 0.2s ease;
  /* Agrega una transición suave al movimiento de la imagen */
  margin-top: 100px;
  /* Ajusta el valor según sea necesario para mover la imagen hacia abajo */
  float: left;
}

.imagen-1 {
  margin-top: 10px;
  /* Ajusta el margen superior según sea necesario */
  max-width: 100%;
  /* Hace que la imagen sea responsive */
}

/* Edicion de imagens de los flex box*/

.my-image1 {
  width: 200px;
  /* Ajusta el tamaño según tus necesidades */
  height: auto;
  margin-right: 10px;
  /* Ajusta el margen según tus necesidades */
}

/* Estilos para la segunda imagen */
.my-image2 {
  width: 200px;
  /* Ajusta el tamaño según tus necesidades */
  height: auto;
  margin-right: 10px;
  /* Ajusta el margen según tus necesidades */
}

.text {
  flex-grow: 1;
  /* Hacemos que ocupe todo el espacio disponible en el contenedor flex */
}

/* Estilos para el contenido de texto */
.text {
  flex: 1;
  /* Hacemos que el contenido de texto ocupe todo el espacio disponible en el contenedor flex */
}

/* Estilos para la imagen */
.my-image1,
.my-image2 {
  width: 200px;
  /* Ajusta el tamaño según tus necesidades */
  height: auto;
  margin-right: 10px;
  /* Ajusta el margen derecho según tus necesidades */
}

@media screen and (max-width: 320px) {
  .card {
    display: flex;
    flex-direction: column;
    /* Cambia la dirección del flex, colocando el contenido en columnas */
  }

  .my-image1 {
    margin-bottom: 0;
    /* Quita el margen inferior para que el texto esté justo debajo de la imagen */
  }
}

/*FLECHA SCROLL PARA SUBIR********/

/* Estilos de la flecha de scroll hacia arriba */
#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #1f8a70;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 999;
  /* Asegura que la flecha esté por encima de otros elementos */
}

#scroll-to-top.show {
  display: block;
}

.hidden {
  display: none;
}

/*EDICIONES FOOTER***************/

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fc7300;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  /* Ajusta el tamaño de fuente según sea necesario */
  z-index: 999;
  /* Asegura que el footer esté por encima del header */
  margin-left: auto;
  margin-right: 0;

}

/* Modificamos la clase .grid-container */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* Mostrar tres elementos en una sola fila */
  grid-gap: 20px;
  /* Espacio entre los elementos */
  text-align: center;
  margin: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

/* Modificamos la clase .grid-container a .item */
.item {
  display: flex;
  /* Convertimos el contenedor en un flex container */
  flex-direction: column;
  /* Mostrar los elementos en una columna */
  align-items: center;
  /* Centramos los elementos horizontalmente */
  text-align: center;
  margin: 20px;
  margin-left: 40px;
  margin-right: 40px;
  border: 1px solid #187418;
}

/* Estilo para cada enlace */
.item a {
  margin-bottom: 10px;
  /* Agregamos un margen inferior entre cada enlace */
}

/* Resto del código permanece igual */
.item i {
  margin-right: 5px;
  /* Ajustamos el margen derecho de los íconos */
}

.item img {
  max-width: 100%;
  height: auto;
}

/*Media queries para que los flex y css grid no se corran*/

/* Resto de los estilos ... */

/* Media Query para pantallas de hasta 320px */
@media screen and (max-width: 320px) {
  .grid-container {
    grid-template-columns: 1fr;
    /* Mostrar un solo elemento por fila */
  }

  .item {
    margin: 20px auto;
    /* Centrar los elementos horizontalmente */
    max-width: 300px;
    /* Limitar el ancho de los elementos */
  }
}

/*------------*/

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container .my-image1 {
  margin-left: auto;
  /* Center the image horizontally */
  margin-right: auto;
}

.text {
  margin-top: 20px;
  /* Add some space between the image and text on smaller screens */
}

/**/
.container {
  flex-direction: column;
  /* Stack elements in a column on smaller screens */
  align-items: center;
  /* Center elements horizontally */
}

.contact-container,
.map-container {
  margin: 20px 0;
  /* Add space between the contact form and map on smaller screens */
}

.map-container iframe {
  width: 100%;
  /* Make the map fill the entire width of its container */
}

/*//

